@{
    Layout = null;
}

<h1>@Localizer["Dashboard"]</h1>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Últimas Órdenes</h3>
            </div>
            <div class="panel-body">
                <order-widget status="0" num-records="5"></order-widget>
            </div>
        </div>
    </div>
</div>
@if (User.IsInRole("admin"))
{
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Palabras más buscadas</h3>
            </div>
            <div class="panel-body">
                <most-search-keyword></most-search-keyword>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Productos más vistos</h3>
            </div>
            <div class="panel-body">
                <most-viewed-products></most-viewed-products>
            </div>
        </div>
    </div>
</div>
}
